# Docker / database
MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=openspecimen
MYSQL_USER=os_user
MYSQL_PASSWORD=os_password
OS_DB_PORT=3308
OS_HTTP_PORT=8085

# OpenSpecimen app runtime
DATASOURCE_TYPE=fresh
DATASOURCE_JNDI=jdbc/openspecimen
SAML_PORTAL_LOGOUT_URL=https://portal.jellbru.lat/

# OpenSpecimen admin account used by the setup script
OS_PUBLIC_URL=https://openspecimen.jellbru.lat/openspecimen
OS_ADMIN_LOGIN_NAME=admin
OS_ADMIN_PASSWORD=Admin123
OS_ADMIN_DOMAIN_NAME=openspecimen

# SAML auth-domain configuration
OS_SAML_AUTH_DOMAIN_ID=2
# This name must match the last path segment used by OpenSpecimen and the portal:
#   /openspecimen/saml2/authenticate/<domain-name>
#   /openspecimen/login/saml2/sso/<domain-name>
OS_SAML_AUTH_DOMAIN_NAME=keycloak-os
OS_SAML_ENTITY_ID=openspecimen-saml
OS_SAML_IDP_METADATA_URL=https://keycloak2.jellbru.lat/realms/incn-SSO/protocol/saml/descriptor
OS_SAML_LOGIN_NAME_ATTR=preferred_username

# SP keystore used by OpenSpecimen runtime
# Local path lives in this repo and is mounted into the container by docker-compose.
OS_SAML_KEYSTORE_LOCAL_PATH=./security/openspecimen-saml.p12
OS_SAML_KEYSTORE_PATH=/opt/openspecimen/security/openspecimen-saml.p12
OS_SAML_KEYSTORE_TYPE=PKCS12
OS_SAML_KEYSTORE_PASSWORD=open-specimen
OS_SAML_KEY_ALIAS=openspecimen-saml
OS_SAML_KEY_PASSWORD=open-specimen
OS_SAML_KEYALG=RSA
OS_SAML_KEYSIZE=2048
OS_SAML_CERT_DNAME=CN=openspecimen.jellbru.lat, OU=IT, O=OpenSpecimen, L=Lima, ST=Lima, C=PE
